<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>jsample.resources</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<!-- For asynchronous jersey resource, all servlet instances and servlet 
			filters involved in the request processing must explicitly declare support 
			for asynchronous request processing. So, for supporting asynchronous request 
			processing, add following line -->
		<async-supported>true</async-supported>
		<!-- If there is any other filter exist, same line should be added in filter 
			declaration -->
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

</web-app>